body {
margin-top: 5%;
text-align: center;
font-family: 'Castoro', serif;
background-color: lavenderblush;
color:palevioletred; 
}

.buttons {
width: auto;
margin-top: 1%;
padding-left: 20%;
padding-right: 20%;
}

.greetingcard {
margin-top: 7%;
}


.btn-primary {
    color: palevioletred; 
    background-color: pink;
    border-color: whitesmoke;
    box-shadow: none  
    hover: pink; 
}

